/* body {
   
    margin: 8px;
    padding: 10px;
}

fieldset {
    margin: 30px 20px 20px 20px;
}


input[type=text], select, textarea {
    width: 60%;
    padding: 8px;
    margin: 8px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */



